<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Insurance">
    <test name="Insurance Sanity Test">
        <groups>
            <run>
                <include name="insuranceSanity"/>
            </run>
        </groups>
        <classes>
            <class name="Insurance.InsuranceSanityTest"></class>
            <class name="Utils.ExtentReport"></class>
        </classes>
    </test>
</suite>