<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="utils.ExtentReportListener" />
        <listener class-name="utils.AnnotationTransform"/>
    </listeners>
    <test name="App Tests">


        <classes>
            <class name="tests.AppTest"/>
        </classes>
    </test>
</suite>